In [1]:
import pandas as pd

import numpy as np

In [2]:
df1 = pd.read_csv("Fern\IDCJDW3102.202207.csv", encoding = "windows-1252")

In [5]:
df2 = pd.read_csv("Fern\IDCJDW3102.202206.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [6]:
df3 = pd.read_csv("Fern\IDCJDW3102.202205.csv", encoding = "windows-1252")

In [7]:
df4 = pd.read_csv("Fern\IDCJDW3102.202204.csv", encoding = "windows-1252")

In [8]:
df5 = pd.read_csv("Fern\IDCJDW3102.202203.csv", encoding = "windows-1252")

In [9]:
df6 = pd.read_csv("Fern\IDCJDW3102.202202.csv", encoding = "windows-1252")

In [10]:
df7 = pd.read_csv("Fern\IDCJDW3102.202201.csv", encoding = "windows-1252")

In [11]:
df8 = pd.read_csv("Fern\IDCJDW3102.202112.csv", encoding = "windows-1252")

In [12]:
df9 = pd.read_csv("Fern\IDCJDW3102.202111.csv", encoding = "windows-1252")

In [13]:
df10 = pd.read_csv("Fern\IDCJDW3102.202110.csv", encoding = "windows-1252")

In [14]:
df11 = pd.read_csv("Fern\IDCJDW3102.202109.csv", encoding = "windows-1252")

In [15]:
df12 = pd.read_csv("Fern\IDCJDW3102.202108.csv", encoding = "windows-1252")

In [16]:
df13 = pd.read_csv("Fern\IDCJDW3102.202107.csv", encoding = "windows-1252")

In [17]:
df14 = pd.read_csv("Fern\IDCJDW3102.202106.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [18]:
df15 = pd.read_csv("Fern\IDCJDW3102.202105.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [19]:
df16 = pd.read_csv("Fern\IDCJDW3102.202104.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [20]:
df17 = pd.read_csv("Fern\IDCJDW3102.202103.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [21]:
df18 = pd.read_csv("Fern\IDCJDW3102.202102.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [22]:
df19 = pd.read_csv("Fern\IDCJDW3102.202101.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [23]:
df20 = pd.read_csv("Fern\IDCJDW3102.202012.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [24]:
df21 = pd.read_csv("Fern\IDCJDW3102.202011.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [25]:
df21a = pd.read_csv("Fern\IDCJDW3102.202010.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [26]:
df21b = pd.read_csv("Fern\IDCJDW3102.202009.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [27]:
df22 = pd.read_csv("Fern\IDCJDW3102.202008.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [28]:
df23 = pd.read_csv("Fern\IDCJDW3102.202007.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [29]:
df24 = pd.read_csv("Fern\IDCJDW3102.202006.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [30]:
df25 = pd.read_csv("Fern\IDCJDW3102.202005.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [31]:
df26 = pd.read_csv("Fern\IDCJDW3102.202004.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [32]:
df27 = pd.read_csv("Fern\IDCJDW3102.202003.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [33]:
df28 = pd.read_csv("Fern\IDCJDW3102.201907.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [34]:
df29 = pd.read_csv("Fern\IDCJDW3102.201906.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [35]:
df30 = pd.read_csv("Fern\IDCJDW3102.201905.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [36]:
df31 = pd.read_csv("Fern\IDCJDW3102.201904.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [37]:
df32 = pd.read_csv("Fern\IDCJDW3102.201903.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [38]:
df33 = pd.read_csv("Fern\IDCJDW3102.201902.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [39]:
df34 = pd.read_csv("Fern\IDCJDW3102.201901.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [40]:
df35 = pd.read_csv("Fern\IDCJDW3102.201812.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [41]:
df36 = pd.read_csv("Fern\IDCJDW3102.201811.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [42]:
df37 = pd.read_csv("Fern\IDCJDW3102.201810.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [43]:
df38 = pd.read_csv("Fern\IDCJDW3102.201809.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [44]:
df39 = pd.read_csv("Fern\IDCJDW3102.201808.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [45]:
df40 = pd.read_csv("Fern\IDCJDW3102.201807.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [46]:
df41 = pd.read_csv("Fern\IDCJDW3102.201806.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [47]:
df42 = pd.read_csv("Fern\IDCJDW3102.201805.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [48]:
df43 = pd.read_csv("Fern\IDCJDW3102.201804.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [49]:
df44 = pd.read_csv("Fern\IDCJDW3102.201803.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [50]:
df45 = pd.read_csv("Fern\IDCJDW3102.201802.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [51]:
df46 = pd.read_csv("Fern\IDCJDW3102.201801.csv", skiprows=5, nrows=38, encoding = "windows-1252")

In [52]:
frames = [df1, df2, df3, df4, df5, df6, df7, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df21a, df21b, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46]
result = pd.concat(frames)

In [53]:
result.head()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa),Unnamed: 0
0,1/07/2022,4.8,9.5,0.0,NaN,NaN,SE,20.0,23:38,6.9,...,ESE,6,1030.2,8.5,93.0,NaN,E,4,1029.5,NaN
1,2/07/2022,5.1,8.7,0.2,NaN,NaN,SE,30.0,23:36,6.2,...,ESE,9,1030.2,7.8,84.0,NaN,ESE,7,1028.5,NaN
2,3/07/2022,4.0,8.4,0.0,NaN,NaN,ESE,37.0,11:03,5.4,...,ESE,17,1028.2,7.3,81.0,NaN,ESE,11,1026.3,NaN
3,4/07/2022,3.5,8.8,0.0,NaN,NaN,ESE,35.0,7:07,6.3,...,ESE,15,1027.5,8.6,71.0,NaN,ESE,9,1026.5,NaN
4,5/07/2022,6.3,10.1,0.4,NaN,NaN,ESE,30.0,10:34,7.3,...,ESE,13,1027.2,9.7,71.0,NaN,ESE,13,1024.4,NaN

In [54]:
clean_Ferny_Creek = pd.DataFrame(result.drop(columns=['Unnamed: 0','Evaporation (mm)', 'Sunshine (hours)','9am cloud amount (oktas)', '3pm cloud amount (oktas)', '9am MSL pressure (hPa)', '3pm MSL pressure (hPa)', '3pm relative humidity (%)', '9am relative humidity (%)' ]))

In [55]:
clean_Ferny_Creek.head(10)

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),9am wind direction,9am wind speed (km/h),3pm Temperature (°C),3pm wind direction,3pm wind speed (km/h)
0,1/07/2022,4.8,9.5,0.0,SE,20.0,23:38,6.9,ESE,6,8.5,E,4
1,2/07/2022,5.1,8.7,0.2,SE,30.0,23:36,6.2,ESE,9,7.8,ESE,7
2,3/07/2022,4.0,8.4,0.0,ESE,37.0,11:03,5.4,ESE,17,7.3,ESE,11
3,4/07/2022,3.5,8.8,0.0,ESE,35.0,7:07,6.3,ESE,15,8.6,ESE,9
4,5/07/2022,6.3,10.1,0.4,ESE,30.0,10:34,7.3,ESE,13,9.7,ESE,13
5,6/07/2022,4.5,12.9,0.0,NNW,17.0,5:00,9.5,NNW,4,12.3,NW,4
6,7/07/2022,4.6,8.7,0.4,WSW,22.0,23:35,5.7,WSW,4,7.6,W,4
7,8/07/2022,5.6,7.5,16.6,W,37.0,15:45,6.0,W,7,7.2,WSW,9
8,9/07/2022,5.1,8.4,11.6,ESE,26.0,23:07,5.8,SW,4,7.8,SE,4
9,10/07/2022,5.2,11.8,1.4,E,31.0,5:59,6.9,E,11,11.1,NE,6

In [56]:
clean_Ferny_Creek.dtypes

Date                                  object
Minimum temperature (°C)             float64
Maximum temperature (°C)             float64
Rainfall (mm)                        float64
Direction of maximum wind gust        object
Speed of maximum wind gust (km/h)    float64
Time of maximum wind gust             object
9am Temperature (°C)                 float64
9am wind direction                    object
9am wind speed (km/h)                 object
3pm Temperature (°C)                 float64
3pm wind direction                    object
3pm wind speed (km/h)                 object
dtype: object

In [57]:
clean_Ferny_Creek['station_id']= 86266

In [58]:
clean_Ferny_Creek.dtypes

Date                                  object
Minimum temperature (°C)             float64
Maximum temperature (°C)             float64
Rainfall (mm)                        float64
Direction of maximum wind gust        object
Speed of maximum wind gust (km/h)    float64
Time of maximum wind gust             object
9am Temperature (°C)                 float64
9am wind direction                    object
9am wind speed (km/h)                 object
3pm Temperature (°C)                 float64
3pm wind direction                    object
3pm wind speed (km/h)                 object
station_id                             int64
dtype: object

In [59]:
# change 'calm' to numeric 0 in wind speed column
clean_Ferny_Creek['9am wind speed (km/h)'].replace("Calm", 0, inplace=True)

In [60]:
clean_Ferny_Creek['3pm wind speed (km/h)'].replace("Calm", 0, inplace=True)

In [61]:
clean_Ferny_Creek['Speed of maximum wind gust (km/h)'].replace("Calm", 0, inplace=True)

In [62]:
clean_Ferny_Creek['9am wind speed (km/h)'].replace(np.nan, 0, inplace=True)

In [63]:
clean_Ferny_Creek['3pm wind speed (km/h)'].replace(np.nan, 0, inplace=True)

In [64]:
clean_Ferny_Creek['Speed of maximum wind gust (km/h)'].replace(np.nan, 0, inplace=True)

In [65]:
clean_Ferny_Creek['Speed of maximum wind gust (km/h)'].replace('NaN', 0, inplace=True)

In [66]:
clean_Ferny_Creek['9am wind speed (km/h)'].replace('NaN', 0, inplace=True)

In [67]:
clean_Ferny_Creek['3pm wind speed (km/h)'].replace('NaN', 0, inplace=True)

In [68]:
clean_Ferny_Creek['3pm wind direction'].replace(np.nan, "None", inplace=True)

In [69]:
clean_Ferny_Creek['9am wind direction'].replace(np.nan, "None", inplace=True)

In [70]:
clean_Ferny_Creek.isnull().values.sum()

81

In [91]:
# no longer necessary, but leaving in for next run.
rows_with_nan = clean_Ferny_Creek[clean_Ferny_Creek.isna().any(axis=1)]

# Print the rows with NaN values
print(rows_with_nan)

          Date  Minimum temperature (°C)  Maximum temperature (°C)  \
1    2/02/2022                      9.30                 16.300000
2    3/02/2022                      8.70                 18.633333
3    4/02/2022                     10.25                 20.966667
18  19/01/2022                     11.00                 21.400000
29  30/10/2021                      2.50                 19.366667
7    8/09/2021                      6.10                 15.400000
11  2021-06-12                      7.80                 10.500000
13  2021-06-14                      7.85                 12.000000
15  2021-06-16                      7.90                 12.000000
21  2021-06-22                      5.80                 12.200000
22  2021-06-23                      8.60                 12.100000
9   2021-03-10                      9.70                 19.100000
2    2020-12-3                      6.10                 21.600000
22  2020-08-23                      2.00                  6.933333
19  2019-04-20                     13.50                 25.300000
26  2019-02-27                      9.10                 30.700000
10  2018-10-11                      4.20                 10.050000
3    2018-05-4                      7.00                 11.700000
17  2018-04-18                      5.70                 19.000000

    Rainfall (mm) Direction of maximum wind gust   \
1        1.000000                            None
2        0.750000                            None
3        0.500000                            None
18       0.266667                            None
29       8.600000                            None
7        0.000000                            None
11      19.800000                            None
13      11.000000                            None
15       2.200000                            None
21       0.000000                            None
22       6.650000                            None
9        2.600000                            None
2        1.200000                            None
22      32.000000                            None
19       0.000000                            None
26       0.000000                            None
10       0.000000                            None
3       11.200000                            None
17       1.600000                            None

    Speed of maximum wind gust (km/h) Time of maximum wind gust  \
1                                 0.0                       NaN
2                                 0.0                       NaN
3                                 0.0                       NaN
18                                0.0                       NaN
29                                0.0                       NaN
7                                 0.0                       NaN
11                                0.0                       NaN
13                                0.0                       NaN
15                                0.0                       NaN
21                                0.0                       NaN
22                                0.0                       NaN
9                                 0.0                       NaN
2                                 0.0                       NaN
22                                0.0                       NaN
19                                0.0                       NaN
26                                0.0                       NaN
10                                0.0                       NaN
3                                 0.0                       NaN
17                                0.0                       NaN

    9am Temperature (°C) 9am wind direction 9am wind speed (km/h)  \
1                   12.0                  S                   7.0
2                   13.6               None                     0
3                   15.2               None                     0
18                  16.5                  E                    22
29                   6.0                 NW                     7
7                    9.0                NNW                     9
11                   8.2                  W                     4
13                   9.2                 NW                     4
15                   7.9                 NE                    19
21                   8.7                NNW                     4
22                  10.7                NNE                    13
9                   11.1                ESE                     9
2                   12.2                 SE                     6
22                   4.9                  W                     4
19                  21.4                ENE                     4
26                  14.5               None                     0
10                   8.5                  E                     9
3                    7.2                WNW                     4
17                  12.3                 NW                     4

    3pm Temperature (°C) 3pm wind direction 3pm wind speed (km/h)  station_id
1                   14.8                SSW                     6       86266
2                   14.0                  S                     6       86266
3                   19.1                 SE                    13       86266
18                  20.2                  E                    24       86266
29                  18.3               None                     0       86266
7                   14.9                NNW                     9       86266
11                  10.2                  W                     2       86266
13                  11.0                                        0       86266
15                  10.8                  N                     7       86266
21                  11.7                  N                     6       86266
22                  10.0                NNE                    15       86266
9                   17.7                  E                     7       86266
2                   20.2                  W                     4       86266
22                   5.7                WSW                     9       86266
19                  24.6                  N                     6       86266
26                  29.1                NNE                     4       86266
10                   8.1               None                     0       86266
3                    9.7                  W                     6       86266
17                  18.6                NNE                     6       86266

In [72]:
clean_Ferny_Creek['Direction of maximum wind gust '].replace(np.nan, "None", inplace=True)

In [73]:
clean_Ferny_Creek['Speed of maximum wind gust (km/h)'].replace(np.nan, 0, inplace=True)

In [78]:
clean_Ferny_Creek['9am wind direction'].replace(0, "None", inplace=True)

In [81]:
clean_Ferny_Creek['9am wind direction'].replace(" ", "None", inplace=True)

In [77]:
clean_Ferny_Creek['9am wind direction'] = clean_Ferny_Creek['9am wind direction'].fillna(0)

In [82]:
# I can be blind sometimes. Check for spaces, always. Keeping in for posterity
print(clean_Ferny_Creek['9am wind direction'].unique())

['ESE' 'NNW' 'WSW' 'W' 'SW' 'E' 'N' 'WNW' 'SSE' 'None' 'NE' 'NNE' 'NW'
 'ENE' 'SE' 'S' 'SSW']

In [250]:
# print(clean_Ferny_Creek['9am MSL pressure (hPa)'].unique())

In [251]:
# get rid of NANs in some of the columns
# clean_Ferny_Creek['Rainfall (mm)'] = clean_Ferny_Creek['Rainfall (mm)'].fillna(0)

In [252]:
# # Other columns
# clean_Ferny_Creek['9am wind direction'].replace(" ", "None", inplace=True)

In [253]:
# clean_Ferny_Creek['3pm wind direction'].replace(" ", "None", inplace=True)

In [254]:
# clean_Ferny_Creek['3pm wind direction'].replace("nan", "None", inplace=True)

In [84]:
clean_Ferny_Creek['Minimum temperature (°C)'] = pd.to_numeric(clean_Ferny_Creek['Minimum temperature (°C)'], errors='coerce')
clean_Ferny_Creek['Minimum temperature (°C)'].interpolate(inplace=True)
clean_Ferny_Creek['Minimum temperature (°C)'] = clean_Ferny_Creek['Minimum temperature (°C)'].round(1)

In [85]:
clean_Ferny_Creek['Maximum temperature (°C)'] = pd.to_numeric(clean_Ferny_Creek['Maximum temperature (°C)'], errors='coerce')
clean_Ferny_Creek['Maximum temperature (°C)'].interpolate(inplace=True)
clean_Ferny_Creek['Maximum temperature (°C)'] = clean_Ferny_Creek['Maximum temperature (°C)'].round(1)

In [92]:
clean_Ferny_Creek['Rainfall (mm)'] = pd.to_numeric(clean_Ferny_Creek['Rainfall (mm)'], errors='coerce')
clean_Ferny_Creek['Rainfall (mm)'].interpolate(inplace=True)
clean_Ferny_Creek['Rainfall (mm)'] = clean_Ferny_Creek['Rainfall (mm)'].round(1)

In [87]:
clean_Ferny_Creek['9am Temperature (°C)'] = pd.to_numeric(clean_Ferny_Creek['9am Temperature (°C)'], errors='coerce')
clean_Ferny_Creek['9am Temperature (°C)'].interpolate(inplace=True)

In [93]:
clean_Ferny_Creek['3pm Temperature (°C)'] = pd.to_numeric(clean_Ferny_Creek['3pm Temperature (°C)'], errors='coerce')
clean_Ferny_Creek['3pm Temperature (°C)'].interpolate(inplace=True)
clean_Ferny_Creek['3pm Temperature (°C)'] = clean_Ferny_Creek['3pm Temperature (°C)'].round(1)

In [94]:
clean_Ferny_Creek

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),9am wind direction,9am wind speed (km/h),3pm Temperature (°C),3pm wind direction,3pm wind speed (km/h),station_id
0,1/07/2022,4.8,9.5,0.0,SE,20.0,23:38,6.9,ESE,6,8.5,E,4,86266
1,2/07/2022,5.1,8.7,0.2,SE,30.0,23:36,6.2,ESE,9,7.8,ESE,7,86266
2,3/07/2022,4.0,8.4,0.0,ESE,37.0,11:03,5.4,ESE,17,7.3,ESE,11,86266
3,4/07/2022,3.5,8.8,0.0,ESE,35.0,7:07,6.3,ESE,15,8.6,ESE,9,86266
4,5/07/2022,6.3,10.1,0.4,ESE,30.0,10:34,7.3,ESE,13,9.7,ESE,13,86266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,2018-01-27,18.2,31.0,3.4,NE,28.0,00:03,21.0,E,4,29.8,E,6,86266
27,2018-01-28,20.4,34.1,0.0,WNW,31.0,14:27,26.7,N,7,32.5,NNE,6,86266
28,2018-01-29,24.4,30.8,0.0,N,43.0,05:15,26.2,N,15,29.2,NNE,4,86266
29,2018-01-30,10.7,16.2,30.0,S,28.0,05:32,11.4,S,6,14.6,ESE,6,86266
30,2018-01-31,9.2,16.3,0.2,SE,31.0,11:15,11.3,S,7,13.9,SE,11,86266

In [95]:
clean_Ferny_Creek.isnull().values.sum()

19

In [96]:
# change those columns with no times to 00:00 (not enough to be statistically relevant)
clean_Ferny_Creek['Time of maximum wind gust'].replace(np.nan, "00:00", inplace=True)

In [97]:
# no longer necessary, but leaving in for next run.
rows_with_nan = clean_Ferny_Creek[clean_Ferny_Creek.isna().any(axis=1)]

# Print the rows with NaN values
print(rows_with_nan)

Empty DataFrame
Columns: [Date, Minimum temperature (°C), Maximum temperature (°C), Rainfall (mm), Direction of maximum wind gust , Speed of maximum wind gust (km/h), Time of maximum wind gust, 9am Temperature (°C), 9am wind direction, 9am wind speed (km/h), 3pm Temperature (°C), 3pm wind direction, 3pm wind speed (km/h), station_id]
Index: []

In [98]:
# no longer necessary, but leaving in for next run.
rows_with_nan = clean_Ferny_Creek[clean_Ferny_Creek.isna().any(axis=1)]

# Print the rows with NaN values
print(rows_with_nan)

Empty DataFrame
Columns: [Date, Minimum temperature (°C), Maximum temperature (°C), Rainfall (mm), Direction of maximum wind gust , Speed of maximum wind gust (km/h), Time of maximum wind gust, 9am Temperature (°C), 9am wind direction, 9am wind speed (km/h), 3pm Temperature (°C), 3pm wind direction, 3pm wind speed (km/h), station_id]
Index: []

In [99]:
clean_Ferny_Creek['Direction of maximum wind gust '].replace(" ", "None", inplace=True)

In [100]:
clean_Ferny_Creek['Direction of maximum wind gust '].replace("NaN", "None", inplace=True)

In [101]:
clean_Ferny_Creek['3pm wind direction'].replace(" ", "None", inplace=True)

In [102]:
clean_Ferny_Creek.dtypes

Date                                  object
Minimum temperature (°C)             float64
Maximum temperature (°C)             float64
Rainfall (mm)                        float64
Direction of maximum wind gust        object
Speed of maximum wind gust (km/h)    float64
Time of maximum wind gust             object
9am Temperature (°C)                 float64
9am wind direction                    object
9am wind speed (km/h)                 object
3pm Temperature (°C)                 float64
3pm wind direction                    object
3pm wind speed (km/h)                 object
station_id                             int64
dtype: object

In [103]:
# clean date column
clean_Ferny_Creek['Date']= pd.to_datetime(clean_Ferny_Creek['Date'], dayfirst=True)

In [104]:
# Change data column types for time and date fields, also for km/h, now 'calm' has been replaced with 0.

clean_Ferny_Creek[["9am wind speed (km/h)", "3pm wind speed (km/h)"]] = clean_Ferny_Creek[["9am wind speed (km/h)", "3pm wind speed (km/h)"]].apply(pd.to_numeric)

In [105]:
clean_Ferny_Creek.dtypes

Date                                 datetime64[ns]
Minimum temperature (°C)                    float64
Maximum temperature (°C)                    float64
Rainfall (mm)                               float64
Direction of maximum wind gust               object
Speed of maximum wind gust (km/h)           float64
Time of maximum wind gust                    object
9am Temperature (°C)                        float64
9am wind direction                           object
9am wind speed (km/h)                       float64
3pm Temperature (°C)                        float64
3pm wind direction                           object
3pm wind speed (km/h)                       float64
station_id                                    int64
dtype: object

In [106]:
clean_Ferny_Creek.isnull().values.sum()

0

In [107]:
clean_Ferny_Creek['Minimum temperature (°C)'] = pd.to_numeric(clean_Ferny_Creek['Minimum temperature (°C)'], errors='coerce')
clean_Ferny_Creek['Minimum temperature (°C)'].interpolate(inplace=True)

In [272]:
clean_Ferny_Creek['Maximum temperature (°C)'] = pd.to_numeric(clean_Ferny_Creek['Maximum temperature (°C)'], errors='coerce')
clean_Ferny_Creek['Maximum temperature (°C)'].interpolate(inplace=True)

In [275]:
clean_Ferny_Creek['Time of maximum wind gust'].replace(np.nan, "00:00", inplace=True)

In [276]:
# Change data column types for time and date fields, also for km/h, now 'calm' has been replaced with 0.

clean_Ferny_Creek[["9am wind speed (km/h)", "3pm wind speed (km/h)"]] = clean_Ferny_Creek[["9am wind speed (km/h)", "3pm wind speed (km/h)"]].apply(pd.to_numeric)

In [277]:
clean_Ferny_Creek.isnull().values.sum()

6

In [109]:
clean_Ferny_Creek.dtypes

Date                                 datetime64[ns]
Minimum temperature (°C)                    float64
Maximum temperature (°C)                    float64
Rainfall (mm)                               float64
Direction of maximum wind gust               object
Speed of maximum wind gust (km/h)           float64
Time of maximum wind gust                    object
9am Temperature (°C)                        float64
9am wind direction                           object
9am wind speed (km/h)                       float64
3pm Temperature (°C)                        float64
3pm wind direction                           object
3pm wind speed (km/h)                       float64
station_id                                    int64
dtype: object

In [110]:
clean_Ferny_Creek.to_csv('Clean_Ferny_Creek.csv', sep=',', index=False)

In [111]:
clean_Ferny_Creek_slim = clean_Ferny_Creek[['Date','Minimum temperature (°C)','Maximum temperature (°C)','Direction of maximum wind gust ','Speed of maximum wind gust (km/h)']].copy()

In [112]:
clean_Ferny_Creek_slim = clean_Ferny_Creek_slim.rename(columns={"Minimum temperature (°C)":'Fern_Minimum temperature (°C)',"Maximum temperature (°C)":"Fern_Maximum temperature (°C)","Direction of maximum wind gust ":"Fern_Direction of maximum wind gust","Speed of maximum wind gust (km/h)":"Fern_Speed of maximum wind gust (km/h)"})

In [113]:
clean_Ferny_Creek_slim.to_csv('clean_Ferny_Creek_slim.csv', sep=',', index=False)